
<div class="card">
  <div class="card-body">
    <h2 class="sub"> Hello User! you are trying to rent <strong>"<%= @boat.name %>"</strong> please select the dates using the forms provided down bellow <h2>
  </div>
</div>

<p> </p>

<div class="container d-flex justify-content-center">
  <div class="card" style="width: 850px;">
    <div class="card-header">
      Featured
    </div>

    <p> </p>

    <div class="card-body">
      <div class="input-group input-group-lg">
        <%= simple_form_for [@boat, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "start" } }%>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "end" } }%>
          <%= f.submit 'Schedule your appointment', class:"btn btn-outline-success" %>
        <% end %>
      </div>
    </div>

    <div class="card-footer text-body-secondary">
      <small class="d-flex justify-content-center">Provided by Float Your Boat </small>
    </div>

  </div>
</div>
