<div class="card">
  <div class="card-body titles">
    <%= @boat.name.capitalize %>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-warning btn-lg me-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Book This Boat !
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-body">
                  <div class="card-body">
                    <div class="input-group input-group-lg titles">
                      <%= simple_form_for [@boat, @booking], data: { controller: 'flatpickr' } do |f| %>
                        <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "start" } }%>
                        <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "end" } }%>
                        <%= f.submit 'Schedule your appointment', class:"btn btn-outline-success" %>
                      <% end %>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<p> </p>

<div class="container">
  <div id="carouselExample" class="carousel slide position-relative">
    <div class="d-flex justify-content-between" style="height: 550px">
      <div class="carousel-inner" style="width: 45%;">
        <div class="carousel-item active">
          <img src="<%=cl_image_path @boat.photo.key%>"  style="" class="d-block w-100"  width="100%" height="550" >
        </div>
        <div class="carousel-item position-relative">
          <img src="<%=cl_image_path @boat.photo.key%>" class="d-block w-100"  width="100%" height="550" >
        </div>
        <div class="carousel-item position-relative">
          <img src="<%=cl_image_path @boat.photo.key%>" class="d-block w-100"  width="100%" height="550" >
        </div>
      </div>
      <div style="width: 55%; background: white; color: black; padding: 8%">
        <h1 style="font-weight: 700"><%= @boat.name %></h1>
        <p><%= @boat.description %></p>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-money-bill"></i> <%= @boat.price %>$/ day</p>
          <p><i class="fa-solid fa-location-dot"></i> <%= @boat.address %></p>
        </div>

          <hr>
          <h4 style="font-weight: 600">Leave a review</h4>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Review
          </button>

          <!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: 600">Leave a review</h1>

                </div>
                <div class="modal-body">
                  <%= simple_form_for [@boat, Review.new] do |f|%>
                    <%= f.input :comment %>
                    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
                    <%= f.submit "send", class:" btn btn-outline-warning" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <div class="position-absolute top-0 end-0">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item cathegory"><%= @boat.category %></li>
      </ul>
  </div>

  <div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Comment</th>
        <th scope="col">Review</th>
        <th scope="col">by</th>
      </tr>
    </thead>

    <tbody>

      <% @reviews.each do |review| %>
        <tr>
          <td><%= review.comment %></td>
          <td><%= "#{"â­" * review.rating}" %></td>
          <td><%= current_user.first_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
