<div class="card">
  <div class="card-body titles">
    <%= @boat.name.capitalize %>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <%= link_to "Book This Boat !", new_boat_booking_path(@boat), class:"btn btn-outline-warning btn-lg me-md-2" %>
    </div>
  </div>
</div>

<p> </p>

<div class="container">
  <div id="carouselExample" class="carousel slide position-relative">
    <div class="d-flex justify-content-between" style="height: 550px">
      <div class="carousel-inner" style="width: 45%;">
        <div class="carousel-item active">
          <img src="<%=cl_image_path @boat.photo.key%>"  style="" class="d-block w-100"  width="100%" height="550" >
        </div>
        <div class="carousel-item position-relative">
          <img src="<%=cl_image_path @boat.photo.key%>" class="d-block w-100"  width="100%" height="550" >
        </div>
        <div class="carousel-item position-relative">
          <img src="<%=cl_image_path @boat.photo.key%>" class="d-block w-100"  width="100%" height="550" >
        </div>
      </div>
      <div style="width: 55%; background: white; color: black; padding: 8%">
        <h1 style="font-weight: 700"><%= @boat.name %></h1>
        <p><%= @boat.description %></p>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-money-bill"></i> <%= @boat.price %>$/ day</p>
          <p><i class="fa-solid fa-location-dot"></i> <%= @boat.address %></p>
        </div>
        <div>
          <hr>
          <h4 style="font-weight: 600">Leave a review</h4>
          <%= simple_form_for [@boat, Review.new] do |f|%>
            <%= f.input :comment %>
            <%= f.input :rating %>
            <%= f.submit "send" %>
          <% end %>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <div class="position-absolute top-0 end-0">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item cathegory"><%= @boat.category %></li>
      </ul>
    </div>
  </div>


  <div class="card">
    <% @reviews.each do |review|%>
    <%= review.display_rating %>
    <%= review.comment  %>
    <% end %>
  </div>
